:host {
  display: flex;
  align-items: center;
  gap: 22.82px;
  color: #121212;
  font-style: normal;
}

.country-logo {
  width: 62.756px;
  height: 62.756px;
}

.country-logo img {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.titles {
  flex: 1 1 0%;
}

.titles h4 {
  font-family: Montserrat;
  font-size: 23.241px;
  font-weight: 400;
  line-height: 39.841px; /* 171.429% */
}

.titles h5 {
  color: #b8b8b8;
  font-family: Montserrat;
  font-size: 19.921px;
  font-weight: 400;
  line-height: 33.201px; /* 166.667% */
}

.extra-data {
  align-self: flex-start;
  text-align: right;
  font-family: Montserrat;
  font-size: 29.881px;
  font-weight: 500;
  line-height: 39.841px; /* 133.333% */
}
