<!-- <app-favourits></app-favourits> -->
<!-- <app-button></app-button> -->

 <button type="button" class="btn" (click)="showFav=true"> 

  <img src="../assets/images/plus 1.png"/>
  <span class="btn-text">add to favourits</span>
</button> 

<!-- <div class="l-container">
    <app-rate-card *ngFor="let card of staticCardsList" [cardData]="card">
        123
      </app-rate-card>
</div> -->
<app-portofolio [favCarrency]="Currencies" ></app-portofolio>

<app-favourits
  *ngIf="showFav"
  [cardsList]="cardsList"
  (closeFav)="showFav=$event"
  (checkedItemChanges)="testFavChanges($event)"
></app-favourits>
