* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Poppins;
  font-weight: 400;
  font-style: normal;
}

.main-container {
  margin-block-start: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}
.btn-fav {
  display: flex;
  width: 190px;
  height: 52px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 18.926px;
  flex-shrink: 0;
  border-radius: 37.852px;
  border: 1.893px solid #000;
}

h1 {
  color: #202020;
  font-family: Montserrat;
  font-size: 32.5px;
  font-style: normal;
  font-weight: 600;
  margin-inline-start: 20px;

  /* line-height: normal; */
}
.portofoilo-right {
  margin-block-start: 40px;
}
h2 {
  margin-inline-start: 20px;
}
.body {
    width:100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  /* grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); */
  height: 325px;
  gap: 28.115px;
}

.item {
  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #b8b8b881;
}
.img-country-currency img:nth-child(1) {
  border-radius: 50%;
}
.img-country-currency {
  display: flex;
}
.img-country {
  column-gap: 0px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.country {
  color: var(--greyscale-grey-900, #121212);
  font-size: 24.601px;
  /* line-height: 42.173px; 171.429% */
}
.currency {
  color: var(--greyscale-grey-400, #b8b8b8);
  font-size: 21.086px;
  /* line-height: 35.144px; 166.667% */
}
.item .Right {
  text-align: right;
  /* width: 50%;  */
  font-size: 20px;
}
p {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .header {
    padding: 1em;
    flex-direction: column;
    width: auto;
    align-items: center;
  }
  .body{
    grid-template-columns: 1fr;
  }
}
